networks:
  web:
    driver: overlay
    attachable: true
  intercom:
    driver: overlay
    attachable: true

volumes:
  order_pg_vol:
  minio_vol:

secrets:
  postgres_user:
    file: docker/postgres_user_secret
  postgres_password:
    file: docker/postgres_password_secret
  s3_user:
    file: docker/s3_user_secret
  s3_password:
    file: docker/s3_password_secret

services:
  traefik:
    image: traefik:v3.6.1
    command:
      - --api.insecure=false
      - --api.dashboard=true
      - --providers.swarm=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --log.level=INFO
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: ingress
      #added for dashboard access
      - target: 8080
        published: 8080
        protocol: tcp
        mode: ingress
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Traefik reads Swarm API
    networks:
      - web
      - intercom #added to allow traefik to route to orderservice
    # todo
    # Replicate only to manager
    # expose dashboard to localhost/dashboard
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.http.routers.traefik-dashboard.rule=Host(`localhost`) && PathPrefix(`/dashboard`)
        - traefik.http.routers.traefik-dashboard.entrypoints=web
        - traefik.http.services.traefik-dashboard.loadbalancer.server.port=80

  frontend:
    image: ghcr.io/ddibiasi/sbd-ais-exercise/frontend:1.0
    networks:
      - web
    # todo deploy globally
    # should be available at http://localhost from every node
    deploy:
      mode: global
      labels:
        - traefik.enable=true
        # Make frontend available at http://localhost
        - traefik.http.routers.frontend.rule=Host(`localhost`)
        - traefik.http.routers.frontend.entrypoints=web
        - traefik.http.services.frontend.loadbalancer.server.port=80
      restart_policy:
        condition: on-failure

  orderservice:
    image: ghcr.io/ddibiasi/sbd-ais-exercise/orderservice:1.0
    command: [ "/app/ordersystem" ]
    networks:
      - web
      - intercom
    # todo use secrets
    secrets:
      - postgres_user
      - postgres_password
      - s3_user
      - s3_password
    # todo use secrets
    environment:
      - DB_HOST=postgres
      - PGPORT=5432
      - POSTGRES_DB=order
      - POSTGRES_USER_FILE=/run/secrets/postgres_user
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
      - S3_ENDPOINT=minio:8500
      - S3_ACCESS_KEY_ID_FILE=/run/secrets/s3_user
      - S3_SECRET_ACCESS_KEY_FILE=/run/secrets/s3_password
    # todo deploy global
    # Should be reachable at http://orders.localhost
    deploy:
      mode: global
      labels:
        - traefik.enable=true
        - traefik.http.routers.orders.rule=Host(`orders.localhost`)
        - traefik.http.routers.orders.entrypoints=web
        - traefik.http.services.orders.loadbalancer.server.port=3000
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 10
        window: 60s

  postgres:
    image: postgres:18
    volumes:
      - order_pg_vol:/var/lib/postgresql
    networks:
      - intercom
    # todo use secrets
    secrets:
      - postgres_user
      - postgres_password
    # todo use secrets
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER_FILE=/run/secrets/postgres_user
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
      - PGPORT=5432
    # todo replicate only to one worker node
    # todo use constraints
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure

  minio:
    image: minio/minio:latest
    command: [ "server", "--address", ":8500", "/data" ]
    volumes:
      - minio_vol:/data
    networks:
      - intercom
    # todo use secrets
    secrets:
      - s3_user
      - s3_password
    # todo use secrets
    environment:
      - MINIO_ROOT_USER_FILE=/run/secrets/s3_user
      - MINIO_ROOT_PASSWORD_FILE=/run/secrets/s3_password
    # todo replicate only to one worker node
    # todo use constraints
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
